@import './font';
@import "utils";

@mixin vel--var-font() {
    @each $font-name, $font-value in $typeFont {
        --vel-font-#{to-lower-case($font-name)}: #{$font-value};
    }
}

@mixin vel--font-face($font) {
    @at-root body {
        font-family: var(--vel-font-#{to-lower-case($font)});
        font-weight: var(find-variable-color($typeFont, 400, '--vel-font-'));
    }

    @each $name, $value in $typeFont {
        @font-face {
            font-family: $font;
            src: url('/#{$name}.ttf');
            font-weight: $value;
            font-style: normal;
        }
    }
}

@mixin vel--class-font-family() {
    @each $font-name, $font-value in $typeFont {
        .vds-font-#{to-lower-case($font-name)} {
            font-family: var(--vel-font-#{to-lower-case($font-name)});
        };
    }
}

@mixin vel--class-headline($font, $size, $weight: 'regular') {
    font-family: var(--vel-font-#{to-lower-case($font)}-#{$weight});
    font-size: $size;
}
